cffi==1.14.0
click==7.1.2
cryptography==2.9.2
Flask==1.1.2
Flask-Caching==1.9.0
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql-connector==2.2.9
mysql-connector-python==8.0.20
numpy==1.18.5
pandas==1.0.3
protobuf==3.12.2
pycparser==2.20
pymongo==3.10.1
python-dateutil==2.8.1
python-decouple==3.3
pytz==2019.3
six==1.14.0
Werkzeug==1.0.1
