.App {
  text-align: center;
}

nav {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
  height: 58px;

  background: #091e33;
  border-radius: 6px;
}
.nav-links {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
}
.links {
  margin-top: 19px;
  margin-left: 35px;
  margin-bottom: 23px;
  width: 38px;
  height: 16px;

  color: #ffffff;
}
