.App {
  text-align: center;
}

nav {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
  height: 58px;

  background: #091e33;
  border-radius: 6px;
}
.nav-links {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
}
.links {
  margin-top: 19px;
  margin-left: 35px;
  margin-bottom: 23px;
  width: 68px;
  height: 16px;

  color: #ffffff;
}
.register {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  padding: 20px;
  background-color: rgb(111, 125, 140);
  border: solid 2px white;
  border-radius: 4px;
}
.register-button {
  font-family: Roboto;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 16px;
  padding: 20px;
  /* background-color: rgb(111, 125, 140);
  border: solid 2px white;
  border-radius: 4px; */
}
.background-pic {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS1EZErbembh3Mq-HSsdF06bKpNP_PwM-cRXb9gF-eCW-_4WlxL&usqp=CAU);
}
